rules:
    - OpenApiTools\PHPStan\Rules\OpenApi\Schema\SchemaNameRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Schema\PropertiesRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Schema\RequiredPropertiesRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Operation\DescriptionRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Operation\PathRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Operation\SummaryRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Operation\TagCountRule
    - OpenApiTools\PHPStan\Rules\Laravel\FormRequest\ValidateFormRequestRule
    - OpenApiTools\PHPStan\Rules\Laravel\Resource\BooleanPropertyRule
    - OpenApiTools\PHPStan\Rules\Laravel\Resource\ValidateResourceSchemaRule
    - OpenApiTools\PHPStan\Rules\Laravel\Resource\ValidateResourceRule

services:
    schemaNameGenerator:
        class: OpenApiTools\PHPStan\Generators\LaravelSchemaNameGenerator
    propertyNameGenerator:
        class: OpenApiTools\PHPStan\Generators\SnakeCasePropertyNameGenerator
    classSchemaCollector:
        class: OpenApiTools\PHPStan\Collectors\ClassSchemaCollector
        tags:
            - phpstan.collector
    classOperationCollector:
        class: OpenApiTools\PHPStan\Collectors\ClassOperationCollector
        tags:
            - phpstan.collector
    methodOperationCollector:
        class: OpenApiTools\PHPStan\Collectors\MethodOperationCollector
        tags:
            - phpstan.collector
    jsonResourceCollector:
        class: OpenApiTools\PHPStan\Collectors\JsonResourceArrayCollector
        tags:
            - phpstan.collector
    formRequestCollector:
        class: OpenApiTools\PHPStan\Collectors\FormRequestArrayCollector
        tags:
            - phpstan.collector
