rules:
    - OpenApiTools\PHPStan\Rules\OpenApi\Operation\ValidateOperationRule
    - OpenApiTools\PHPStan\Rules\OpenApi\Schema\ValidateSchemaRule
    - OpenApiTools\PHPStan\Rules\Laravel\FormRequest\ValidateFormRequestRule

services:
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\DescriptionValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\PathParameterValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\PathValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\SummaryValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\TagCountValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\RequestBodyReferenceValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\SchemaRules\Validators\NameValidator
        tags:
            - openApiTools.validators.openapi.schema
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\SchemaRules\Validators\PropertiesValidator
        tags:
            - openApiTools.validators.openapi.schema
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Validators\MissingSchemaValidator
        tags:
            - openApiTools.validators.laravel.form_request
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Validators\MissingSchemaPropertiesValidator
        tags:
            - openApiTools.validators.laravel.form_request
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Validators\RequiredRuleValidator
        tags:
            - openApiTools.validators.laravel.form_request
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Validators\NullableRuleValidator
        tags:
            - openApiTools.validators.laravel.form_request
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Validators\EnumRuleValidator
        tags:
            - openApiTools.validators.laravel.form_request
    -
        class: OpenApiTools\PHPStan\Rules\Laravel\FormRequest\Collectors\FormRequestArrayCollector
        tags:
            - phpstan.collector