services:
    schemaNameGenerator:
        class: OpenApiTools\PHPStan\Generators\LaravelSchemaNameGenerator
    propertyNameGenerator:
        class: OpenApiTools\PHPStan\Generators\SnakeCasePropertyNameGenerator
