rules:
    - OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\ValidateOperationRule
    - OpenApiTools\PHPStan\Rules\OpenApi\SchemaRules\ValidateSchemaRule

services:
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\DescriptionValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\PathParameterValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\PathValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\SummaryValidator
        tags:
            - openApiTools.validators.openapi.operation
    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\OperationRules\Validators\TagCountValidator
        tags:
            - openApiTools.validators.openapi.operation

    -
        class: OpenApiTools\PHPStan\Rules\OpenApi\SchemaRules\Validators\TagCountValidator
        tags:
            - openApiTools.validators.openapi.schema
