rules:
    - Rules\OpenApi\Rules\ValidateLaravelRequestRule
    - Rules\OpenApi\Rules\ValidateLaravelResourceRule
    - Rules\OpenApi\Rules\ValidateLaravelControllerRule
    # - Rules\OpenApi\Rules\ValidateOpenApiOperationRule
    - Rules\OpenApi\Rules\ValidateOpenApiSchemaRule

services:
    -
        class: Rules\OpenApi\Collectors\JsonResourceReturnArrayCollector
        tags:
            - phpstan.collector
    -
        class: Rules\OpenApi\Collectors\FormRequestRuleArrayCollector
        tags:
            - phpstan.collector